
:root {
  --background-color: #ffffff;
  --background-scroll: #a19b9baf;
  --text-color: #000000;
}

[data-theme="dark"] {
  --background-color: #181824;
  --text-color: #ffffff;
  --background-scroll: #a19b9baf;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color:var(--background-color);
  color: var(--text-color);
}
body {
  overflow: hidden;
}
/* helper class */
.h-100{
  height: 100%;
}
.d-flex{
  display: flex;
}
.justify-content-center{
  justify-content: center;
}
.p-16{
  padding: 16px;
}

.align-item-center{
  align-items: center;
}
/* Wrapper Container with Blur */
.container {
height: 100%;
filter: blur(5px);
}
.wrapper-container {
  height: 310px;

  position: relative;
  /* pointer-events: none; */
}
.bg-image {
  background-image: url("../images/bg-desktop-dark.jpg");
  height: 100%;
  width: auto;
  background-size: cover;
}
.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-conatiner {
  margin-top: 70px;
  width: 550px;
  overflow: hidden;
}
.img-conatiner > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header > h1 {
  font-size: 40px;
  color: white;
  letter-spacing: 15px;
}
.header > .mode-icon {
  color: white;
  font-size: 25px;
  cursor: pointer;
}
.checkbox-round {
  width: 20px;
  height: 20px;
  background-color:var(--background-color);
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid
    linear-gradient(
      90deg,
      rgba(104, 194, 254, 1) 0%,
      rgba(154, 121, 222, 1) 50%
    );
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

.checkbox-round::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
  padding: 2px;
  background: linear-gradient(
    90deg,
    rgba(104, 194, 254, 1) 0%,
    rgba(154, 121, 222, 1) 50%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.checkbox-round::after {
  content: "✔";
  font-size: 14px;
  color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.checkbox-round:checked::after {
  display: block;
}
.checkbox-round:checked {
  background: rgb(104, 194, 254);
  background: linear-gradient(
    90deg,
    rgba(104, 194, 254, 1) 0%,
    rgba(154, 121, 222, 1) 50%
  );
}

.input-box {
  position: relative;
}
.input-checkbox {
  position: absolute;
  bottom: 0;
  top:140px;
  left: 12px;
}
.input-box > input[type="text"] {
  width: 100%;
  margin-top: 120px;
  padding: 20px 20px 20px 50px;
  border-radius: 10px;
  font-size: 16px;
  background-color:var(--background-color);
  color: var(--text-color);
  border: none;
  outline: none;
}
.list {
  z-index: 1;
  border-radius: 10px 10px 0px 0px;
  height: auto;
  overflow: auto;
  margin-top: 20px;
  background-color:var(--background-color);
  color: var(--text-color);
  max-height: 355px;
  border: 1px solid #333131;
}
.list-of-item {
  cursor: pointer;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #35384c;
}
footer {
  border: 1px solid #333131;
  background-color:var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.footer-item {
  border: 1px solid var(--text-color);
  padding: 15px;
}
.footer-item ul {
  display: flex;
  justify-content: space-between;
}
.footer-item  ul > li {
list-style: none;
cursor: pointer;

}
.footer-item  ul li:hover{
 color: blue;
  }

.footer {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 10px;
  margin-top: 10px;
}
.nowrape{
white-space: nowrap;
}

.cursor-pointer{
  cursor: pointer;
}



/* Loader Styles */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; 
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}

.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

@keyframes l12 { 
  100% { transform: rotate(.5turn); }
}



/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color:var(--background-scroll);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}




@media (max-width: 600px) {
  .header > h1 {
    font-size: 30px;
  }
  .input-box > input[type="text"] {
    margin-top: 25px;
    padding: 15px 15px 15px 50px;
  }
  .bg-image {
    background-image: url("../images/bg-mobile-dark.jpg");
    height: 100%;
    background-size: cover;
  }
  .img-conatiner {
    margin-top: 60px;
    width: 300px;
  }
  .input-checkbox {
    top: 40px;
  }
  .list {
    margin-top: 15px;
  }
  .list-of-item {
    padding: 14px;
  }
  footer > .footer-item > span {
    margin-left: 6px;
  }
  footer {
font-size: 12px;
    padding: 10px;
  }

}
